In [21]:
# import the libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
# define the lists
sub_url=[]

areas = []
prices = []
direction = []
bed = []
path = []
living = []
steetwidth = []
House_age = []
views = []

In [10]:
# loop in all the main pages to get all the sub urls in the range specified
for i in range(1,50):
    main_url = "https://sa.aqar.fm/%D9%81%D9%84%D9%84-%D9%84%D9%84%D8%A8%D9%8A%D8%B9/"+str(i)
    response= requests.get(main_url)
    page = response.text
    soup = BeautifulSoup(page, "html")
    
    for element in soup.find_all('a', {'class':"listTitle"}):
        sub_url.append(element["href"])

In [12]:
# function to extract the information from the sub url's
def iterations ():
    for s in sub_url:
        response = requests.get('https://sa.aqar.fm'+s)
        page = response.text
        soup = BeautifulSoup(page, "html.parser")
        prices.append(soup.find("span", class_="listingPagePrice").find("span").findNext().text) #price
        areas.append(soup.find(text="المساحة").find_previous().find_previous().find_previous().text)
        direction.append(soup.find(text="الواجهة").find_previous().find_previous().find_previous().text)
        bed.append(soup.find(text="غرف النوم").find_previous().find_previous().find_previous().text)
        #living.append(soup.find(text="الصالات").find_previous().find_previous().find_previous().text)
        path.append(soup.find(text="دورات مياه").find_previous().find_previous().find_previous().text)
        #steetwidth.append(soup.find(text="عرض الشارع").find_previous().find_previous().find_previous().text)
        #House_age.append(soup.find(text="عمر العقار").find_previous().find_previous().find_previous().text)
        views.append(soup.find("table", class_="dc-listingInfoTable").find("span").text) #views

In [13]:
# call the function 
iterations()

In [39]:
# convert it to two dataframe (raw_df and df)

raw_df = pd.DataFrame(list(zip(prices,areas,direction,bed,path,views)),
                      columns=["price","area","direction","bed","path","views"]) 

df= pd.DataFrame(list(zip(prices,areas,direction,bed,path,views)),
                      columns=["price","area","direction","bed","path","views"])

In [40]:
df

          price     area  direction bed path   views
0     2,800,000   679 م²  شمال غربي   3    5    1503
1       800,000   321 م²       شمال   4    5    2170
2     1,350,000   300 م²       شمال   7    4    4500
3     1,100,000   255 م²        شرق   3    5  187292
4     1,100,000   208 م²  جنوب شرقي   4    5    2867
...         ...      ...        ...  ..  ...     ...
1155  3,500,000   450 م²        غرب   5    5      91
1156  2,450,000   290 م²        غرب   4    5     156
1157  3,500,000  1378 م²  جنوب غربي   5    4    1764
1158  6,000,000  1237 م²        غرب   5    5   31547
1159  5,100,000   500 م²       شمال   5    5     347

[1160 rows x 6 columns]